body {
	background-color: lightgrey;
	margin: auto;
	padding-top: 50px;
} 



#gameDiv {

	display: block;
	font-family: cursive;
	border-radius: 25px;
	padding: 12px;
	text-align: center;

}

#choiceBtn {

	line-height: 30px;
	width: 100px;

}

#playerText {
	color: green;
	font-size: 40px;
}

#computerText {
	color: red;
	font-size: 30px;
}
p {
	font-size: 50px;
	
}